.git
.github
node_modules
**/node_modules
**/.next
**/dist
**/out
.turbo
**/.turbo
.vercel
**/.vercel
apps/game/.godot
apps/game/exports
apps/game/build
.env
.env.*
**/.env
**/.env.*
!**/.env.example
samples
*.log
